<!-- page-not-found.component.html -->
<div class="page-not-found">
  <H1>404 Page Not Found</H1>
    <img src="assets/GIF/lizardDance.gif" alt="Page not found">
    <!-- <div class="tenor-gif-embed" data-postid="26388301" data-share-method="host" data-aspect-ratio="1" data-width="100%"><a href="https://tenor.com/view/weird-dancing-lizard-gecko-gif-26388301">Weird Dancing GIF</a>from <a href="https://tenor.com/search/weird-gifs">Weird GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script> -->
    <p>Oops! Page not found.</p>
    <a href="/">Return to Home</a>
  </div>
  