<div (click)="goToPlayerDetail(player)" class="card player-card text-center justify-content-center" hoverCard>
  <img class="card-img-top" [src]="playerImageUrl" loading="lazy">
  <div class="card-body">
    <h4 class="card-title">{{ player.name }}</h4>
    <h5>{{ player.rating }}</h5>
    <h6> {{ player.position }} </h6>
    <div class="row">
      <div class="col-md-6">
        <p> PAC {{ player.stats.pace | unknownData}}</p>
        <p> SHO {{ player.stats.shooting | unknownData}}</p>
        <p> PAS {{ player.stats.passing | unknownData}}</p>
      </div>
      <div class="col-md-6">
        <p> DRI {{ player.stats.dribbling | unknownData}}</p>
        <p> DEF {{ player.stats.defending | unknownData}}</p>
        <p> PHY {{ player.stats.physicality | unknownData}}</p>
      </div>
    </div>
  </div>
</div>
