.Title{
    display : flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.player-card {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
  }
  
  .player-image-container {
    text-align: center;
  }
  
  .player-image {
    width: 120px;
    height: auto;
    border-radius: 50%;
  }
  
  .badges-container {
    display: flex;
    justify-content: center;
    margin-top: 8px;
  }
  
  .country-flag {
    height: 30px;
    width: auto;
    margin: 0 5px;
  }

  .club-badge {
    height: 50px;
    width: auto;
    margin: 0 5px;
  }
  
  .player-info {
    text-align: left;
    margin-left: 20px;
  }
  
  .player-name {
    margin-top: 0;
    margin-bottom: 8px;
  }
  
  .player-position-rating {
    font-weight: bold;
    margin-bottom: 12px;
  }
  
  .player-attributes {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .player-attributes li {
    margin-bottom: 4px;
    font-size: 14px;
  }
  
  .player-attributes strong {
    font-weight: bold;
  }
  